# 카카오 지도
NEXT_PUBLIC_KAKAO_MAP_KEY=

# 백엔드 API URL
NEXT_PUBLIC_API_URL=https://api.hanunan.com

# 카카오 OAuth
NEXT_PUBLIC_KAKAO_CLIENT_ID=
NEXT_PUBLIC_KAKAO_REDIRECT_URI=https://hanunan.com/oauth/kakao/redirect

# 구글 OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=https://hanunan.com/oauth/google/redirect
